@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: var(--off-black);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--dark-grey);
  height: 580px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 20px;
  border-radius: 10px;
}

.avatar-section {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}
.avatar {
  border-radius: 50%;
  height: 80px;
}

.name {
  margin-top: 5px;
  color: var(--white);
  font-size: 1.4em;
  font-weight: 600;
}

.location {
  margin-top: -10px;
  color: var(--Green);
  font-size: 14px;
}

.bio {
  margin-top: 10px;
  color: var(--white);
  font-size: 14px;
}

.links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.profile-link {
  text-decoration: none;
  font-size: 14px;
  background-color: var(--grey);
  align-content: center;
  text-align: center;
  width: 21em;
  height: 3.2em;
  color: var(--white);
  font-weight: 500;
  border-radius: 5px;
}

.profile-link:hover {
  background-color: var(--Green);
  color: var(--off-black);
  font-weight: 700;
}

@media screen and (max-width: 426px) {
  .container {
    height: 580px;
    width: 320px;
  }

  .profile-link{
    width: 20em;
  }
}
